{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="span2">
        <h2>Orders</h2>
    </div>
    <div class="pull-right" style="margin-top: 20px;">
        <a href="newitem" class="btn btn-success btn-small">
            <i class="icon-white icon-file"></i> Order Item
        </a>
    </div>
    </div>
<body class="is-preload">

    <div id="tabs" hx-get="filters/ready" hx-trigger="load delay:100ms" hx-target="#tabs" hx-swap="innerHTML"></div>

</body>
{% endblock content %}